<% user = model.kind_of?(Array) ? model.last : model %>
<%= form_with(model: model) do |form| %>
  <div>
    <%= form.label :username %>
    <%= form.text_field :username %>
    <ul>
      <% user.errors.full_messages_for(:username).each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>

  <% if !defined?(hide_password_field) %>
    <% hide_password_field = false %>
  <% end %>

  <% if !hide_password_field %>
    <div>
      <%= form.label :password %>
      <%= form.password_field :password %>
      <ul>
        <% user.errors.full_messages_for(:password).each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= collection_select(:user, :role_id, Role.all, :id, :name) %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
